/*---------------------------------
    Card
-----------------------------------*/

.gradient_background_count {
    background: linear-gradient(90deg, #0062ff, #da61ff);
    height: 100vh;
    width: 100vw;
  }